$black: #222;
$blackSmoke: rgba(22, 22, 22, 0.5);

$white: #fff;

$orange: #f57740;
$flashyOrange: #ff9900;

$green: #19ac25;
$flashyGreen: #00ff00;

$yellow: #cc9900;

$red: #ff0000;

$blue: #00aaff;
$flashyBlue: #00ccff;

$flashyPurple: #cc00ff;
