.navbar {
    border-bottom: 2px $orange solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .logo {
        height: 80px;
    }

    .menu {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 20px;
        margin-left: 40px;
    }

    .connected-user {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            background-color: $flashyGreen;
            border-radius: 10px;
        }
    }
}
